.container {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#buttons {
    justify-content: center;
    margin-bottom: 50px;
}

#rock {

}

#paper {

}

#scissors {

}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    justify-content: center;
    background-color: darkgray;
}

#footer {
    justify-content: center;
    background-color: darkgray;
}