.container {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

body {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#buttons {
    justify-content: center;
    margin-bottom: 50px;
}

#rock {
    background-color: grey;
    border-radius: 8px;
    font-weight: bolder;
    font-size: large;
}

#paper {
    background-color: azure;
    border-radius: 8px;
    font-weight: bolder;
    font-size: large;
}

#scissors {
    background-color: silver;
    border-radius: 8px;
    font-weight: bolder;
    font-size: large;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

#header {
    justify-content: center;
    background-color: darkgray;
    font-weight: bolder;
}

#footer {
    justify-content: center;
    background-color: darkgray;
    font-weight: lighter;
}